// Required git@github.com:shiroyuki/prototype.git
@import '../../../../prototype/static/scss/font';
@import '../../../../prototype/static/scss/css3';
@import '../../../../prototype/static/scss/colours';
@import '../../../../prototype/static/scss/element';
@import '../../../../prototype/static/scss/component';

body, input, button {
    @include font-sans-serif-set();
}

.bookmark-new {
    form {
        label {
            display: block;
        }

        input {
            @include input-text();
        }

        button {
            @include button();
        }
    }
}

.commander {
    position: fixed;
    right: 10px;
    bottom: 10px;
}