<!doctype html>
<html>
<head>
<title>Bookkeeper</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{# Internal CSS: Start #}
<link rel="stylesheet" href="{{ url_for('static', filename='css/interface.css') }}">
{# Internal CSS: End #}
</head>
<body>

<div class="sp-overlay-group bookmark-new">
    <div class="sp-overlay-solo">
        <h2>New bookmark</h2>
        <form action="#">
            <div>
                <label for="bookmark-new-url">Where do you want to bookmark?</label>
                <input type="text" id="bookmark-new-url" />
            </div>
            <div>
                <button>Add</button>
            </div>
        </form>
    </div>
</div>

<div class="commander">
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons">add</i>
    </button>
</div>
{# Internal JS: Start #}
<script src="{{ url_for('static', filename='js/interface.js') }}"></script>
{# Internal JS: End #}
</body>
</html>